# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://ptmfgyflyjkqjkzwrlnx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# AUTH (optional, Supabase handles it)
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# VERCEL
VERCEL_URL=www.covai.es
